{% extends "_main.jinja" %}

{% block title %} Page not found! {% endblock %}

{% block main %}

<div class="internal_error">
    <p>
		Opps! Page not found! Please contact 
		<a href="mailto:support@blabla.cz">support</a>
    </p>
</div>

{% endblock %}